/*!
* Gommette
*
* TODO :
*/

/*==================================================*/
/*=====================RESET CSS====================*/

/*=== RESET CSS ===*/
/*=================*/

* {
	box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
}
html, body
{
	margin: 0; padding: 0; border: 0;
	height: 100%;
	background: transparent;
	text-decoration: none;
}
p, h1, h2, h3, h4, h5, h6,
a, img, object, iframe,
abbr, blockquote, q, cite, code, ins, pre, address,
fieldset, form, label, legend,
table, caption, tbody, tr, th, td, tfoot
{
	margin: 0; padding: 0; border: 0;
	background: transparent;
	text-decoration: none;
	font-size: 100%;
	font-weight: inherit;
	font-style: inherit;
	text-decoration: none;
}
dl, dt, dd, ol, ul, li
{
	margin: 0; border: 0;
	background: transparent;
	font-size: 100%;
	font-weight: inherit;
	font-style: inherit;
	text-decoration: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a, a:hover, a:visited, a:active{
	text-decoration: none;
	cursor: pointer;
}
a{
	color: inherit;;
}
code{
	tab-size: 4;
		-moz-tab-size: 4;
		-o-tab-size: 4;
}
button{
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
acronym:before, acronym:after, applet:before, applet:after, basefont:before, basefont:after, big:before, big:after,
center:before, center:after, dir:before, dir:after, font:before, font:after, frame:before, frame:after,
frameset:before, frameset:after, isindex:before, isindex:after, noframes:before, noframes:after, s:before, s:after,
strike:before, strike:after, tt:before, tt:after, u:before, u:after
{
	content: "/!\\ deprecated tag /!\\"!important;
	color: red!important;
	font-weight: bolder!important;
	font-style: italic!important;
	text-decoration: underline!important;
}
pre acronym:before, pre acronym:after, pre applet:before, pre applet:after, pre basefont:before, pre basefont:after, pre big:before, pre big:after,
pre center:before, pre center:after, pre dir:before, pre dir:after, pre font:before, pre font:after, pre frame:before, pre frame:after,
pre frameset:before, pre frameset:after, pre isindex:before, pre isindex:after, pre noframes:before, pre noframes:after, pre s:before, pre s:after,
pre strike:before, pre strike:after, pre tt:before, pre tt:after, pre u:before, pre u:after
{
	content: none!important;
}

/*=== NORMALIZE CSS ===*/
/*======================*/

html {	font-size: 62.5%; }
body{
		font-size: 1.4em; /* thanks to this 1.4em = 14px => n em = n*10 px */
	word-wrap:break-word;
	font-family: sans-serif;
	color: #333;
}
mark{ background-color: yellow; }
b	{ font-weight: bold; }
i	{ font-style: italic; }
abbr{
	border-bottom: 1px dotted;
	cursor: help;
}
pre.u-pre, pre.xdebug-var-dump {
	background: rgb(249, 249, 249);
	margin: 5px 5px;
	padding: 5px;
	border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-o-border-radius: 5px;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
		-webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
		-moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
		-o-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
	text-align: left;
	font-size: 13px;
}


/*==================================================*/
/*======================TOOLS=======================*/

/*=== DEPRECATED IE ALERT / NO JS ===*/
/*===================================*/

.warning-IE8,
.warning-noscript{
	display: block;
	line-height: 30px;
	text-align: center;
	font-size: 13px;
	font-weight: bolder;
	font-family: sans-serif;
}
.warning-IE8{
	background-color: red;
	color: white;
}
.warning-noscript{
	background-color: #FFCF00;
	color: #5A4900;
}
.warning-IE8 a,
.warning-noscript a
{color: white; text-decoration: underline;}

/*=== VERTICAL ALIGN ===*/
/*======================*/

div.valign, span.valign { display: inline-block; vertical-align: middle; }
span.valign { height: 100%; }

/*=== FLOAT CLEAR FIX ===*/
/*=======================*/

.u-container:before, .u-container:after,
.u-row:before, .u-row:after,
.u-nav:before, .u-nav:after, .u-nav ul:before, .u-nav ul:after,
/*.u-nav button.u-toggle:before, .u-nav button.u-toggle:after,*/
.u-nav .u-nav-header:before, .u-nav .u-nav-header:after,
.clearfix:before, .clearfix:after
{
	display: table;
	content: "";
}
.u-container:after,
.u-row:after,
.u-nav:after, .u-nav ul:after,
/*.u-nav button.u-toggle:after,*/
.u-nav .u-nav-header:after,
.clearfix:after
{
	clear: both;
}

/*=== TABLE Y SCROLL ===*/
/*======================*/
.table-autoscroll{
	overflow-y: auto;
}

/*=== MICRO CLASS ===*/
/*===================*/

.text-left	{text-align: left;	}
.text-center{text-align: center;}
.text-right	{text-align: right;	}

.align-top		{vertical-align: top;	}
.align-middle	{vertical-align: middle;}
.align-bottom	{vertical-align: bottom;}

.u-none		{display :none!important;}

.u-help		{position: relative; border-bottom: 1px dotted; cursor: help;}
.u-help:after {
	content: "?";
	position: absolute;
	bottom: -4px;
	font-size: 10px;
}

/*=== RESPONSIVE VISIBILITY ===*/
/*=============================*/

@media(max-width: 640px)	{.visible-from-xs{	display: none!important;	}}
@media(max-width: 768px)	{.visible-from-sm{	display: none!important;	}}
@media(max-width: 992px)	{.visible-from-md{	display: none!important;	}}
@media(max-width: 1200px)	{.visible-from-lg{	display: none!important;	}}


/*==================================================*/
/*===================GRID SYSTEM====================*/

@media(max-width: 640px)	{.u-container{	width: 100%;	padding-left: 15px;	padding-right: 15px	}}
@media(min-width: 640px)	{.u-container{	width: 600px;	margin: 0 auto; }}
@media(min-width: 768px)	{.u-container{	width: 750px;	margin: 0 auto;	}}
@media(min-width: 992px)	{.u-container{	width: 970px;	margin: 0 auto;	}}
@media(min-width: 1200px)	{.u-container{	width: 1170px;	margin: 0 auto;	}}
@media(max-width: 640px)	{.u-container-fluid{	width: 100%;	padding-left: 15px;	padding-right: 15px	}}
							 .u-container-fluid{	width: 100%;}

.u-row{
	clear: both;
}

[class*=col-xxs],	[class*=col-xs],	[class*=col-sm],	[class*=col-md],	[class*=col-lg]{
	float: left;
	min-height: 1px;
}

[class*=-xxs-1],	[class*=-xs-1],		[class*=-sm-1],		[class*=-md-1],		[class*=-lg-1]	{	width: 4.1666666%;	}
[class*=-xxs-2],	[class*=-xs-2],		[class*=-sm-2],		[class*=-md-2],		[class*=-lg-2]	{	width: 8.3333333%;	}
[class*=-xxs-3],	[class*=-xs-3],		[class*=-sm-3],		[class*=-md-3],		[class*=-lg-3]	{	width: 12.5%;		}
[class*=-xxs-4],	[class*=-xs-4],		[class*=-sm-4],		[class*=-md-4],		[class*=-lg-4]	{	width: 16.666666%;	}
[class*=-xxs-5],	[class*=-xs-5],		[class*=-sm-5],		[class*=-md-5],		[class*=-lg-5]	{	width: 20.833333%;	}
[class*=-xxs-6],	[class*=-xs-6],		[class*=-sm-6],		[class*=-md-6],		[class*=-lg-6]	{	width: 25%;			}
[class*=-xxs-7],	[class*=-xs-7],		[class*=-sm-7],		[class*=-md-7],		[class*=-lg-7]	{	width: 29.166666%;	}
[class*=-xxs-8],	[class*=-xs-8],		[class*=-sm-8],		[class*=-md-8],		[class*=-lg-8]	{	width: 33.333333%;	}
[class*=-xxs-9],	[class*=-xs-9],		[class*=-sm-9],		[class*=-md-9],		[class*=-lg-9]	{	width: 37.5%;		}
[class*=-xxs-10],	[class*=-xs-10],	[class*=-sm-10],	[class*=-md-10],	[class*=-lg-10]	{	width: 41.666666%;	}
[class*=-xxs-11],	[class*=-xs-11],	[class*=-sm-11],	[class*=-md-11],	[class*=-lg-11]	{	width: 45.833333%;	}
[class*=-xxs-12],	[class*=-xs-12],	[class*=-sm-12],	[class*=-md-12],	[class*=-lg-12]	{	width: 50%;			}
[class*=-xxs-13],	[class*=-xs-13],	[class*=-sm-13],	[class*=-md-13],	[class*=-lg-13]	{	width: 54.166666%;	}
[class*=-xxs-14],	[class*=-xs-14],	[class*=-sm-14],	[class*=-md-14],	[class*=-lg-14]	{	width: 58.333333%;	}
[class*=-xxs-15],	[class*=-xs-15],	[class*=-sm-15],	[class*=-md-15],	[class*=-lg-15]	{	width: 62.5%;		}
[class*=-xxs-16],	[class*=-xs-16],	[class*=-sm-16],	[class*=-md-16],	[class*=-lg-16]	{	width: 66.666666%;	}
[class*=-xxs-17],	[class*=-xs-17],	[class*=-sm-17],	[class*=-md-17],	[class*=-lg-17]	{	width: 70.833333%;	}
[class*=-xxs-18],	[class*=-xs-18],	[class*=-sm-18],	[class*=-md-18],	[class*=-lg-18]	{	width: 75%;			}
[class*=-xxs-19],	[class*=-xs-19],	[class*=-sm-19],	[class*=-md-19],	[class*=-lg-19]	{	width: 79.166666%;	}
[class*=-xxs-20],	[class*=-xs-20],	[class*=-sm-20],	[class*=-md-20],	[class*=-lg-20]	{	width: 83.333333%;	}
[class*=-xxs-21],	[class*=-xs-21],	[class*=-sm-21],	[class*=-md-21],	[class*=-lg-21]	{	width: 87.5%;		}
[class*=-xxs-22],	[class*=-xs-22],	[class*=-sm-22],	[class*=-md-22],	[class*=-lg-22]	{	width: 91.666666%;	}
[class*=-xxs-23],	[class*=-xs-23],	[class*=-sm-23],	[class*=-md-23],	[class*=-lg-23]	{	width: 95.833333%;	}
[class*=-xxs-24],	[class*=-xs-24],	[class*=-sm-24],	[class*=-md-24],	[class*=-lg-24]	{	width: 100%;		}

[class*=-offset-1]	{	margin-left: 4.1666666%;	}
[class*=-offset-2]	{	margin-left: 8.3333333%;	}
[class*=-offset-3]	{	margin-left: 12.5%;			}
[class*=-offset-4]	{	margin-left: 16.666666%;	}
[class*=-offset-5]	{	margin-left: 20.833333%;	}
[class*=-offset-6]	{	margin-left: 25%;			}
[class*=-offset-7]	{	margin-left: 29.166666%;	}
[class*=-offset-8]	{	margin-left: 33.333333%;	}
[class*=-offset-9]	{	margin-left: 37.5%;			}
[class*=-offset-10]	{	margin-left: 41.666666%;	}
[class*=-offset-11]	{	margin-left: 45.833333%;	}
[class*=-offset-12]	{	margin-left: 50%;			}
[class*=-offset-13]	{	margin-left: 54.166666%;	}
[class*=-offset-14]	{	margin-left: 58.333333%;	}
[class*=-offset-15]	{	margin-left: 62.5%;			}
[class*=-offset-16]	{	margin-left: 66.666666%;	}
[class*=-offset-17]	{	margin-left: 70.833333%;	}
[class*=-offset-18]	{	margin-left: 75%;			}
[class*=-offset-19]	{	margin-left: 79.166666%;	}
[class*=-offset-20]	{	margin-left: 83.333333%;	}
[class*=-offset-21]	{	margin-left: 87.5%;			}
[class*=-offset-22]	{	margin-left: 91.666666%;	}
[class*=-offset-23]	{	margin-left: 95.833333%;	}
[class*=-offset-24]	{	margin-left: 100%;			}

.col-pull-1, .col-push-1	{	position: relative;	}	.col-pull-1		{	right: 4.1666666%;	}	.col-push-1		{	left: 4.1666666%;	}
.col-pull-2, .col-push-2	{	position: relative;	}	.col-pull-2		{	right: 8.3333333%;	}	.col-push-2		{	left: 8.3333333%;	}
.col-pull-3, .col-push-3	{	position: relative;	}	.col-pull-3		{	right: 12.5%;		}	.col-push-3		{	left: 12.5%;		}
.col-pull-4, .col-push-4	{	position: relative;	}	.col-pull-4		{	right: 16.666666%;	}	.col-push-4		{	left: 16.666666%;	}
.col-pull-5, .col-push-5	{	position: relative;	}	.col-pull-5		{	right: 20.833333%;	}	.col-push-5		{	left: 20.833333%;	}
.col-pull-6, .col-push-6	{	position: relative;	}	.col-pull-6		{	right: 25%;			}	.col-push-6		{	left: 25%;			}
.col-pull-7, .col-push-7	{	position: relative;	}	.col-pull-7		{	right: 29.166666%;	}	.col-push-7		{	left: 29.166666%;	}
.col-pull-8, .col-push-8	{	position: relative;	}	.col-pull-8		{	right: 33.333333%;	}	.col-push-8		{	left: 33.333333%;	}
.col-pull-9, .col-push-9	{	position: relative;	}	.col-pull-9		{	right: 37.5%;		}	.col-push-9		{	left: 37.5%;		}
.col-pull-10, .col-push-10	{	position: relative;	}	.col-pull-10	{	right: 41.666666%;	}	.col-push-10	{	left: 41.666666%;	}
.col-pull-11, .col-push-11	{	position: relative;	}	.col-pull-11	{	right: 45.833333%;	}	.col-push-11	{	left: 45.833333%;	}
.col-pull-12, .col-push-12	{	position: relative;	}	.col-pull-12	{	right: 50%;			}	.col-push-12	{	left: 50%;			}
.col-pull-13, .col-push-13	{	position: relative;	}	.col-pull-13	{	right: 54.166666%;	}	.col-push-13	{	left: 54.166666%;	}
.col-pull-14, .col-push-14	{	position: relative;	}	.col-pull-14	{	right: 58.333333%;	}	.col-push-14	{	left: 58.333333%;	}
.col-pull-15, .col-push-15	{	position: relative;	}	.col-pull-15	{	right: 62.5%;		}	.col-push-15	{	left: 62.5%;		}
.col-pull-16, .col-push-16	{	position: relative;	}	.col-pull-16	{	right: 66.666666%;	}	.col-push-16	{	left: 66.666666%;	}
.col-pull-17, .col-push-17	{	position: relative;	}	.col-pull-17	{	right: 70.833333%;	}	.col-push-17	{	left: 70.833333%;	}
.col-pull-18, .col-push-18	{	position: relative;	}	.col-pull-18	{	right: 75%;			}	.col-push-18	{	left: 75%;			}
.col-pull-19, .col-push-19	{	position: relative;	}	.col-pull-19	{	right: 79.166666%;	}	.col-push-19	{	left: 79.166666%;	}
.col-pull-20, .col-push-20	{	position: relative;	}	.col-pull-20	{	right: 83.333333%;	}	.col-push-20	{	left: 83.333333%;	}
.col-pull-21, .col-push-21	{	position: relative;	}	.col-pull-21	{	right: 87.5%;		}	.col-push-21	{	left: 87.5%;		}
.col-pull-22, .col-push-22	{	position: relative;	}	.col-pull-22	{	right: 91.666666%;	}	.col-push-22	{	left: 91.666666%;	}
.col-pull-23, .col-push-23	{	position: relative;	}	.col-pull-23	{	right: 95.833333%;	}	.col-push-23	{	left: 95.833333%;	}
.col-pull-24, .col-push-24	{	position: relative;	}	.col-pull-24	{	right: 100%;		}	.col-push-24	{	left: 100%;			}

@media(max-width: 1200px)	{[class*=col-lg-]{	float: none;	position: inherit;	left: 0;	right: 0;	width: 100%;	margin-left: 0;	}}
@media(max-width: 992px)	{[class*=col-md-]{	float: none;	position: inherit;	left: 0;	right: 0;	width: 100%;	margin-left: 0;	}}
@media(max-width: 768px)	{[class*=col-sm-]{	float: none;	position: inherit;	left: 0;	right: 0;	width: 100%;	margin-left: 0;	}}
@media(max-width: 640px)	{[class*=col-xs-]{	float: none;	position: inherit;	left: 0;	right: 0;	width: 100%;	margin-left: 0;	}}





/*==================================================*/
/*====================FORMULAIRES===================*/

.noLabel span{
	position: absolute;
	height: 0;
	overflow: hidden;
}

/*=== DEFAULT - ALIGN - INLINE ===*/
/*================================*/

/*by default: everybody below each other*/
.u-form > label:not(.u-align):not(.u-inline),			/*only the parent label (prevent to display block a list choice's label)*/
.u-form > *:not(label) > label:not(.u-align):not(.u-inline),			/*only the parent label (prevent to display block a list choice's label)*/
.u-form label:not(.u-inline) label:not(:nth-child(2)),							/*for the list choices except 1st child & when inline */
.u-form label:not(.u-align):not(.u-inline) label:nth-child(2),					/*for the 1st child of list choices except align&inline */
.u-form label:not(.u-inline) input:not([type="radio"]):not([type="checkbox"]),	/*for the input except radios and checkboxes*/
.u-form label:not(.u-inline) textarea,
.u-form label:not(.u-inline) select{
	display: block;
}
@media(min-width: 768px){
	.u-form label.u-align label{
		text-align: right;
	}
	.u-form label.u-align{
		vertical-align: top;
	}
	/*else then side by side*/
	.u-form label.u-align,
	.u-form label.u-inline,
	.u-form label.u-inline label,
	.u-form label span{
		display: inline-block;
	}
	/*if w100 then width 100% except for the align and inline fields*/
	.u-form label:not(.u-align):not(.u-inline).u-w100 input,
	.u-form label:not(.u-align):not(.u-inline).u-w100 textarea{
		width: 100%;
	}
	.u-form textarea{
		max-width: 100%;
	}

	/*=== ONGRID ===*/
	/*==============*/

	.u-form .txtToRight label span{
		text-align: right;
	}

	.u-form .u-onGrid label:not(.u-align) input:not([type="radio"]):not([type="checkbox"]),
	.u-form .u-onGrid label textarea,
	.u-form .u-onGrid label select,
	.u-onGrid label:not(.u-align):not(.u-inline) label:nth-child(2){
		display: inline-block;
	}
	.u-form .u-onGrid label.u-inline{
		display: inline;
	}
	.u-form .u-onGrid label:not(.u-w100) input:not([type="radio"]):not([type="checkbox"]) { width: auto; }
	.u-onGrid label:not(.u-align):not(.u-inline) label:not(:nth-child(2)):before{
		content: "";
		display: inline-block;
	}

	.u-form .u-onGrid label:not(.u-align) span, .u-onGrid label:not(.u-align):not(.u-inline) label:not(:nth-child(2)):before	{ width: 10%; }
	.u-form .u-onGrid.grid-w20 label:not(.u-align) span, .u-onGrid.grid-w20 label:not(.u-align):not(.u-inline) label:not(:nth-child(2)):before	{ width: 20%; }
	.u-form .u-onGrid.grid-w30 label:not(.u-align) span, .u-onGrid.grid-w30 label:not(.u-align):not(.u-inline) label:not(:nth-child(2)):before	{ width: 30%; }
	.u-form .u-onGrid.grid-w40 label:not(.u-align) span, .u-onGrid.grid-w40 label:not(.u-align):not(.u-inline) label:not(:nth-child(2)):before	{ width: 40%; }
	.u-form .u-onGrid.grid-w50 label:not(.u-align) span, .u-onGrid.grid-w50 label:not(.u-align):not(.u-inline) label:not(:nth-child(2)):before	{ width: 50%; }
	.u-form .u-onGrid.grid-w60 label:not(.u-align) span, .u-onGrid.grid-w60 label:not(.u-align):not(.u-inline) label:not(:nth-child(2)):before	{ width: 60%; }
	.u-form .u-onGrid.grid-w70 label:not(.u-align) span, .u-onGrid.grid-w70 label:not(.u-align):not(.u-inline) label:not(:nth-child(2)):before	{ width: 70%; }
	.u-form .u-onGrid.grid-w80 label:not(.u-align) span, .u-onGrid.grid-w80 label:not(.u-align):not(.u-inline) label:not(:nth-child(2)):before	{ width: 80%; }
	.u-form .u-onGrid.grid-w90 label:not(.u-align) span, .u-onGrid.grid-w90 label:not(.u-align):not(.u-inline) label:not(:nth-child(2)):before	{ width: 90%; }
	.u-form .u-onGrid label.u-w100:not(.u-align):not(.u-inline) input:not([type="radio"]):not([type="checkbox"]),			.u-form .u-onGrid label.u-w100 textarea:not(.u-align):not(.u-inline),			.u-form .u-onGrid label.u-w100 select:not(.u-align):not(.u-inline)			{ width: 89%; }
	.u-form .u-onGrid.grid-w20 label.u-w100:not(.u-align):not(.u-inline) input:not([type="radio"]):not([type="checkbox"]),	.u-form .u-onGrid.grid-w20 label.u-w100 textarea:not(.u-align):not(.u-inline),	.u-form .u-onGrid.grid-w20 label.u-w100 select:not(.u-align):not(.u-inline)	{ width: 79%; }
	.u-form .u-onGrid.grid-w30 label.u-w100:not(.u-align):not(.u-inline) input:not([type="radio"]):not([type="checkbox"]),	.u-form .u-onGrid.grid-w30 label.u-w100 textarea:not(.u-align):not(.u-inline),	.u-form .u-onGrid.grid-w30 label.u-w100 select:not(.u-align):not(.u-inline)	{ width: 69%; }
	.u-form .u-onGrid.grid-w40 label.u-w100:not(.u-align):not(.u-inline) input:not([type="radio"]):not([type="checkbox"]),	.u-form .u-onGrid.grid-w40 label.u-w100 textarea:not(.u-align):not(.u-inline),	.u-form .u-onGrid.grid-w40 label.u-w100 select:not(.u-align):not(.u-inline)	{ width: 59%; }
	.u-form .u-onGrid.grid-w50 label.u-w100:not(.u-align):not(.u-inline) input:not([type="radio"]):not([type="checkbox"]),	.u-form .u-onGrid.grid-w50 label.u-w100 textarea:not(.u-align):not(.u-inline),	.u-form .u-onGrid.grid-w50 label.u-w100 select:not(.u-align):not(.u-inline)	{ width: 49%; }
	.u-form .u-onGrid.grid-w60 label.u-w100:not(.u-align):not(.u-inline) input:not([type="radio"]):not([type="checkbox"]),	.u-form .u-onGrid.grid-w60 label.u-w100 textarea:not(.u-align):not(.u-inline),	.u-form .u-onGrid.grid-w60 label.u-w100 select:not(.u-align):not(.u-inline)	{ width: 39%; }
	.u-form .u-onGrid.grid-w70 label.u-w100:not(.u-align):not(.u-inline) input:not([type="radio"]):not([type="checkbox"]),	.u-form .u-onGrid.grid-w70 label.u-w100 textarea:not(.u-align):not(.u-inline),	.u-form .u-onGrid.grid-w70 label.u-w100 select:not(.u-align):not(.u-inline)	{ width: 29%; }
	.u-form .u-onGrid.grid-w80 label.u-w100:not(.u-align):not(.u-inline) input:not([type="radio"]):not([type="checkbox"]),	.u-form .u-onGrid.grid-w80 label.u-w100 textarea:not(.u-align):not(.u-inline),	.u-form .u-onGrid.grid-w80 label.u-w100 select:not(.u-align):not(.u-inline)	{ width: 19%; }
	.u-form .u-onGrid.grid-w90 label.u-w100:not(.u-align):not(.u-inline) input:not([type="radio"]):not([type="checkbox"]),	.u-form .u-onGrid.grid-w90 label.u-w100 textarea:not(.u-align):not(.u-inline),	.u-form .u-onGrid.grid-w90 label.u-w100 select:not(.u-align):not(.u-inline)	{ width: 9% ; }
	.u-form .u-onGrid label.u-inline + label.u-inline span	{ width: auto; }

	.u-form .u-onGrid label.u-align				{ margin-left: 10.30%; }
	.u-form .u-onGrid.grid-w20 label.u-align	{ margin-left: 20.30%; }
	.u-form .u-onGrid.grid-w30 label.u-align	{ margin-left: 30.30%; }
	.u-form .u-onGrid.grid-w40 label.u-align	{ margin-left: 40.30%; }
	.u-form .u-onGrid.grid-w50 label.u-align	{ margin-left: 50.30%; }
	.u-form .u-onGrid.grid-w60 label.u-align	{ margin-left: 60.30%; }
	.u-form .u-onGrid.grid-w70 label.u-align	{ margin-left: 70.30%; }
	.u-form .u-onGrid.grid-w80 label.u-align	{ margin-left: 80.30%; }
	.u-form .u-onGrid.grid-w90 label.u-align	{ margin-left: 90.30%; }
	.u-form .u-onGrid label.u-align + label.u-align	{ margin-left: 0; }
}

@media(max-width: 768px){
	.u-form label.u-inline label,
	.u-form label.u-align label:nth-child(2){
		display: block;
	}
	.u-form input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]),
	.u-form textarea,
	.u-form select{
		width: 100%;
	}
}


/*=====================================================*/
/*====================NAVIGATION BAR===================*/

/*=== KIND OF RESET / NORMALIZE ===*/
/*=================================*/

.u-nav ul, li{
	margin: 0;
	padding: 0;
}
.u-nav li{
	list-style-type: none;
	position: relative;
	text-align: left;
	white-space: nowrap;
}
.u-nav li a{
	display: block;
}

/* === toggle button === */
/*display the texte in the button used by screen readers*/
.u-nav button.u-toggle span{
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}
.u-nav button.u-toggle.toRight{
	float: right;
}

/* === dropdown's carret === */
.u-nav ul li.dropdown > a:after{
	content: "";
	display: inline-block;
	margin-left: 5px;
	vertical-align: middle;
}
.u-nav ul.toRight li.dropdown > a:before{
	content: "";
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle;
}

/* === form === */
.u-nav form:not(.toRight){
	float: left;
}
.u-nav form.toRight{
	float: right;
}

/*=== NORMAL MOD ===*/
/*==================*/

@media(min-width: 768px){
	/* 1st dropdown carret */
	.u-nav > * > ul > li.dropdown > a:after,
	.u-nav > ul > li.dropdown > a:after{
		border-style: solid;
		border-right-color: transparent!important;
		border-left-color: transparent!important;
		border-bottom: none;
	}
	/* sub dropdown left carret */
	.u-nav ul:not(.toRight) li.dropdown li.dropdown a:after{
		border-style: solid;
		border-top-color: transparent!important;
		border-bottom-color: transparent!important;
		border-right: none;
	}
	/* sub dropdown right carret */
	.u-nav ul.toRight li.dropdown li.dropdown a:before{
		border-style: solid;
		border-top-color: transparent!important;
		border-bottom-color: transparent!important;
		border-left: none;
	}
	.u-nav ul.toRight li.dropdown li.dropdown a:after { content: none; }

	/*=== POSITIONING ===*/
	/*===================*/

	/* === entire navbar placement === */
	.u-nav > * > ul:not(.toLeft):not(.toRight),
	.u-nav > ul:not(.toLeft):not(.toRight){
		text-align: center;
	}
	.u-nav ul.toLeft{
		float: left;
	}
	.u-nav ul.toRight{
		float: right;
	}

	/* === links and dropdowns === */
	/*1st level link*/
	.u-nav > * > ul > li, .u-nav > ul > li{
		display: inline-block;
	}
	/*if navbar links aligned to left or right*/
	.u-nav > * > ul.toLeft > li, .u-nav > ul.toLeft > li,
	.u-nav > * > ul.toRight > li, .u-nav > ul.toRight > li{
		float: left;
	}
	/*1st dropdown*/
	.u-nav ul ul{
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 999999;
	}
	/*sub dropdown*/
	.u-nav ul:not(.toRight) ul ul{
		position: absolute;
		top: 0;
		left: 100%;
	}
	.u-nav ul.toRight ul ul{
		position: absolute;
		top: 0;
		right: 100%;
		left: inherit;
	}

	/*=== RUNNING TASKS ===*/
	/*=====================*/

	.u-nav .u-nav-header{
		display: none;
	}

	/* hide submenus */
	.u-nav ul ul{
		max-height: 0px;
		overflow: hidden;
		opacity: 0;
		filter: alpha(opacity = 0);
	}
	/* JQuery add .unroll if keydown */
	.u-nav ul.unroll{
		max-height: inherit;
		overflow: visible;
		opacity: 1;
		filter: alpha(opacity = 100);
	}
	/* when hovering */
	.u-nav:not(.u-onClick) li:hover > ul{
		max-height: 500px;
		overflow: visible;
		opacity: 1;
		filter: alpha(opacity = 100);
		transition: all 0s;
			-webkit-transition: all 0s;
			-moz-transition: all 0s;
			-o-transition: all 0s;
	}
	/* delay before closing menu top level */
	.u-nav:not(.u-onClick) > * > ul > li > ul, .u-nav > ul > li > ul{
		transition: all 0s;
			-webkit-transition: all 0s;
			-moz-transition: all 0s;
			-o-transition: all 0s;
	}
	/* delay before closing submenu */
	.u-nav:not(.u-onClick) > * > ul > li ul li ul, .u-nav > ul > li ul li ul{
		transition: all 0.3s ease 0.3s;
			-webkit-transition: all 0s ease 0.3s;
			-moz-transition: all 0s ease 0.3s;
			-o-transition: all 0s ease 0.3s;
	}
}

/*=== REDUCED MOD ===*/
/*===================*/

@media(max-width: 768px){
	.u-nav ul.toRight li.dropdown > a:before{
		content: none;
	}
	/* dropdown carret when in reduced mod */
	.u-nav li.dropdown > a:after{
		border-style: solid;
		border-right-color: transparent!important;
		border-left-color: transparent!important;
		border-bottom: none;
	}

	/*=== RUNNING TASKS ===*/
	/*=====================*/

	/* hide navbar */
	.u-nav:not(.unroll) > * > ul, .u-nav:not(.unroll) > ul{
		display: none;
	}
	/* hide submenus */
	.u-nav ul ul{
		display: none;
	}
	/* JQuery add .unroll if click */
	.u-nav ul.unroll{
		display: block;
	}
}

/*=== SCROLL STICKY NAVBAR===*/
/*===========================*/

/* will be used by gommette.js which will add a 'position: fixed' property when necessary */
.u-nav.u-sticky{
	top: 0; left: 0; right: 0;
}


/*=======================================================*/
/*=========================SIDEBAR=======================*/

/*=== CSS PART ===*/
/*================*/
.u-sidebar{
	position: fixed;
	height: 100%;
	z-index: 1000;
	overflow-x: hidden;
	overflow-y: auto;
}

.u-sidebar .u-sidebar-nav{
	position: absolute;
	top: 0;
	z-index: 1;
	opacity: 1;
}

.u-sidebar,
.u-sidebar .u-sidebar-nav{
	transition: all 0.5s ease;
		webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
}
.u-containSidebar{
	transition: padding-left 0.5s ease;
		webkit-transition: padding-left 0.5s ease;
		-moz-transition: padding-left 0.5s ease;
		-o-transition: padding-left 0.5s ease;
}

.u-sidebar button.u-toggle{
	display: none;
	position: absolute;
	z-index: 2;
}

.u-sidebar button.u-toggle span{
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

@media(max-width: 768px){
	.u-nextToSidebar-wrapper{
		position: absolute;
		width: 100%;
	}
	.u-sidebar button.u-toggle{
		display: block;
	}
	.u-sidebar .u-sidebar-nav{
		opacity: 0;
	}
}

/*=== JS PART ===*/
/*===============*/

.u-sidebar button.u-toggle.display{
	display: block;
}

.u-sidebar .u-sidebar-nav.undisplay{
	opacity: 0;
}
@media(max-width: 768px){
	.u-sidebar button.u-toggle.display{
		display: none;
	}

	.u-sidebar .u-sidebar-nav.undisplay{
		opacity: 1;
	}
}


/*=======================================================*/
/*========================MODAL BOX======================*/

.u-modalOverlay{
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	display: block;
	background: black;
	opacity: 0.5;
	z-index: 999999999;
}

.u-modalContainer{
	position: fixed;
	top: 0; left: 50%;
	width: 0;
	height: 0;
	z-index: 9999999999;
	overflow: hidden;
}

.u-modalContain{
	opacity: 0;
	position: relative;
	top: 0; left: -50%;
	transition: opacity ease-in 0.3s, top ease-in 0.3s;
}

.u-modalContainer.unfolded{
	width: 50%;
	overflow: visible;
}

.u-modalContainer.unfolded .u-modalContain{
	top: 30px;
	opacity: 1;
}


/*==================================================*/
/*================MAGIK STICKY FOOTER===============*/

.u-wrapper{
	position: relative;
	min-height: 100%;
}
.u-footer{
	position: absolute; left: 0; bottom: 0; right: 0;
}
.u-fixFooter{
	padding-bottom: 90px;
	height: 1px;
}


/*=================================================================*/
/*                            CONFIGURE                            */
/*=================================================================*/

/*==================================================*/
/*====================FORMULAIRES===================*/

.u-form input[type="text"],
.u-form input[type="password"],
.u-form input[type="email"],
.u-form input[type="tel"],
.u-form input[type="url"],
.u-form input[type="number"],
.u-form input[type="date"],
.u-form input[type="time"],
.u-form input[type="month"],
.u-form input[type="week"],
.u-form input[type="datetime"],
.u-form input[type="datetime-local"],
.u-form input[type="color"],
.u-form input[type="range"],
.u-form textarea,
.u-form select{
	margin: 5px 0;
	padding: 7px 10px;
	border: 1px solid rgb(205, 205, 205);
	border-radius: 3px;
}
.u-form label > span{
	font-weight: bold;
}


/*=======================================================*/
/*=========================SIDEBAR=======================*/

.u-sidebar{
	left: 250px;
	margin-left: -250px;
}
.u-sidebar,
.u-sidebar .u-sidebar-nav{
	width: 250px;
}
.u-containSidebar{
	padding-left: 250px;
}

@media(max-width: 768px){
	.u-nextToSidebar-wrapper{
		margin-right: -250px;
	}
	.u-containSidebar{
		padding-left: 40px;
		margin-right: 40px;
	}
	.u-sidebar{
		width: 40px;
	}
}

.u-sidebar.undisplay{
	left: 40px;
	margin-left: -40px;
	width: 40px;
}
.u-wrapper.sidebarFolded{
	padding-left: 40px;
}

@media(max-width: 768px){
	.u-sidebar.undisplay{
		left: 250px;
		margin-left: -250px;
		width: 250px;
	}
	.u-wrapper.sidebarFolded{
		padding-left: 250px;
	}
}


/*=======================================================*/
/*========================MODAL BOX======================*/

.u-modalContainer{
	max-width: 600px;
}

.u-modalContain{
	background-color: white;
}


/*==================================================*/
/*================MAGIK STICKY FOOTER===============*/

/*If you are using a margin for the 1st div at the top of the page, the body while got an overflow, and
then the footer while be under the viewport.
To prevent it, uncomment one of the following rules according to your needs */
/*.u-wrapper{ padding-top: 1px; }
/*.u-wrapper{ overflow: auto; }
